!!!
%html{:lang => 'eng'}
    %head
        %meta{:charset => 'utf-8'}
        %title= @title || ''
        = stylesheet_link_tag '/stylesheets/baseline.compress.css', '/stylesheets/content.css', '/stylesheets/buttons.css', "/stylesheets/code/#{settings.highlighting}.css"
        = javascript_script_tag '/js/jquery-1.5.1.min.js'
        /[if lte IE 8]
            = javascript_script_tag '/js/html5.js'
    %body#page
        %div(class='column unitx5 first' id='main-content')
            = haml @header || :header
            %div
                = yield if block_given?
            %footer.line
                %div
                    %small.subtle
                        ~ textile @footer || :'content/footer'
        %nav(class='column unitx2')
            = haml @nav || :nav

