!!!
%html{:lang => 'eng'}
    %head
        %meta{:charset => 'utf-8'}
        %title= @title || ''
        = stylesheet_link_tag '/stylesheets/libraries.css', '/stylesheets/grids.css', '/stylesheets/content.css', '/stylesheets/heading.css', '/stylesheets/space.css', '/stylesheets/media.css', '/stylesheets/buttons.css', '/stylesheets/forms.css', "/stylesheets/code/#{settings.highlighting}.css"
        = javascript_script_tag '/js/jquery-1.5.1.min.js'
        /[if lte IE 8]
            = javascript_script_tag '/js/html5.js'
    %body(class='mal')
        = haml @header || :header

        %div(class='line')
            %div(class='unit size3of5' id='main-content')
                = yield if block_given?
            %nav(class='unit size1of5 mll')
                = haml @nav || :nav

        %footer.line
            %div(class='unit size3of5')
                %small.subtle
                    ~ textile @footer || :'content/footer'

