:javascript
    #{show_hide('.stalking', '.stalk')}
%ul.nav
    %li= full_link_to('home', '/')
    - if env['warden'].authenticated?
        %li= full_link_to('logout', '/logout')
        %li= full_link_to('new post', '/blog/new-post')
    - unless env['warden'].authenticated?
        %li= full_link_to('login', '/login')
    %li= full_link_to('code', '/code')
    %li= full_link_to('academic', '/academic')
    %li= full_link_to('things', '/things')
%hr.nav
%ul.nav
    %li= link_to('stalk', '#', :class => 'stalk')
%div(class='stalking' style='display: none;')
    %ul.nav
        %li.external= link_to('boxee', 'http://www.boxee.tv/go/robomc/')
        %li.external= link_to('fb', 'http://www.facebook.com/robomc')
        %li.external= link_to('github', 'http://github.com/robomc')
        %li.external= link_to('last.fm', 'http://www.last.fm/user/robomc')
        %li.external= link_to('youtube', 'http://www.youtube.com/user/robbo9942')

