%div(class='unit size3of5 ptl mtl')
    %small.subtle
        This site is a custom #{link_to('http://rack.rubyforge.org/', 'rack')} app
        (because #{link_to('http://www.merbivore.com/', 'merb')} is bloatware).
        #{link_to(R.about_this_site_url, 'Tell me more, asshole?')}
        It depends on #{link_to('http://haml-lang.com/', 'haml')}, #{link_to('http://redcloth.org/', 'redcloth')},
        #{link_to('http://datamapper.org/', 'datamapper')},
        #{link_to('http://jquery.com/', 'jquery')} and a random butchering of Nicole Sullivan's
        #{link_to('https://github.com/stubbornella/oocss/wiki', 'oocss')}.
        It usually runs on #{link_to('http://code.macournoyer.com/thin/', 'thin')}/#{link_to('http://nginx.org/', 'nginx')}.
        Thanks everyone.

