%ul.nav
    %li
        = link_to(R.home_url, 'Home')
        = puts R.home_url

%hr

%ul.nav
    %li.external= link_to('http://www.boxee.tv/go/robomc/', 'boxee')
    %li.external= link_to('http://www.facebook.com/robomc', 'fb')
    %li.external= link_to('http://github.com/robomc', 'github')
    %li.external= link_to('http://www.last.fm/user/robomc', 'last.fm')
    %li.external= link_to('http://www.youtube.com/user/robbo9942', 'youtube')

