:javascript
    #{deletable()}
%article
    %h1= @post.title
    ~ textile @post.body
    %p= print_tags(@post, :narrow => true)
    - if env['warden'].authenticated?
        %p= full_link_to('Edit', @post.edit_path) + ' | ' + full_link_to('Delete', "/blog/#{@post.id}", :class => 'delete')

