%article
    %h1= @post.title
    ~ textile @post.body
    %p= print_tags(@post, :narrow => true)
    - if env['warden'].authenticated?
        %p= full_link_to('Edit', @post.edit_path)
        %p= "<form name='delete' method='POST' action='#{@post.delete_path}'><a href='javascript:document.delete.submit()'>Delete</a></form>"

